@import "variable.scss";
html *{
    box-sizing:border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
    text-size-adjust: none;
}
html,body{
    background-color: #f3f5f8;
    font-family: 'microsoft yahei';
}
body{
    width:px2rem(750);/*设计稿*/
    margin:0 auto;
    word-break: break-all;
    word-wrap: break-word;
    color:$color_424242;
}
a {
    text-decoration: none;
    display:block;
}
input[type="password"],input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="file"]::-webkit-file-upload-button,button,select,textarea{
    -webkit-appearance:none;
    appearance:none;
    border: none;
    border-radius: 0;
}
/*input[placeholder], [placeholder], *[placeholder] {
  color:$lightGray!important;
}*/
input:-ms-input-placeholder,textarea:-ms-input-placeholder{
    color:$color_9E9E9E;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color:$color_9E9E9E;
}
input::-moz-placeholder,textarea::-moz-placeholder{
    color: $color_9E9E9E;
}
img, embed, object, video, iframe {
    /*width: 100%;*/
    max-width:100% !important;
    /*height: 100%;*/
}
.ellipsis{
    white-space: nowrap;
    word-wrap:normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.break{
    word-break: break-all;
    word-wrap: break-word;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix{
    zoom: 1;
}
.flex{
    display: flex;
    .flex_item{
        flex: 1;
    }
}
.flex_v_center{
  align-items:center;/*垂直居中*/
}
.box{
  display: flex;
}
.box{
    .box_item{
       flex: 1;
    }
}
.clicking{
    background:#ccc !important;
}
.box_center{
    justify-content:center;/*水平居中*/
    align-items: center;/*垂直居中*/
    /*-webkit-box-align: center;垂直居中*/
    /*-webkit-box-pack:center;水平居中*/
}
.box_v_center{
  align-items: center;/*垂直居中*/
  /*-webkit-box-align: center;垂直居中*/
}
.box_v_bottom{
  align-items: flex-end;/*垂直距底*/
}
.table{
    display: table;
    width: 100%;
    height: 100%;
    .table_cell{
        display:table-cell;
    }
}
.white_bg{
    background:#fff;
}
.padding20{
    padding:0 px2rem(20);
}
.padding24{
    padding:0 px2rem(24);
}
.padding_bottom120{
    @include padding_bottom(100);
}
.margin_top{
    margin-top:px2rem(20);
}
.margin_bottom{
    margin-bottom:px2rem(20);
}
.img_wrap{
    font-size:0;
}
.text_center{
    text-align:center;
}
.lazy_warp{
    background:#f3f5f8 url(../images/lazyload.png) scroll no-repeat center center;
    position:relative;
    background-size:px2rem(110) auto;
}
img[data-echo]{
    background:#f3f5f8 url(../images/lazyload.png) scroll no-repeat center center !important;
    position:relative;
    background-size:px2rem(110) auto;
}
.lazy_warp .lazy{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    display:block;
    opacity:0;
    transition:opacity 0.5s ease;
}
.eye_wrap{
    position:relative;
    .eye{
        /*position:absolute;
        top:0;
        right:0;
        width:px2rem(94);
        height:px2rem(94);
        display:block;*/
        position:absolute;
        right:px2rem(20);
        top:50%;
        margin-top:px2rem(-14);
        display: inline-block;
        width:px2rem(33);
        height:px2rem(24);
        em{
            visibility: hidden;
            position:absolute;
            right:0;
            top:50%;
            margin-top:px2rem(-14);
            display: inline-block;
            width:px2rem(33);
            height:px2rem(24);
            background: url(../images/eye.png) scroll no-repeat center center;
            background-size:contain;
            &.on{
                background: url(../images/eye_on.png) scroll no-repeat center center;
                background-size:contain;
            }
        }

    }
}
body .swiper-lazy-preloader{
    width: px2rem(124) ;
    height: px2rem(110);
    margin-left: px2rem(-55);
    margin-top:20%;
    animation-play-state: paused;
    &:after{
         background:#f3f5f8 url(../images/lazyload.png) scroll no-repeat center center;
         background-size:px2rem(124) auto;
    }
}
.yellow{
    color:$color_55C1DD !important;
}
.pink{
    color:$color_FC5D7B !important;
}
.gray{
    color:$color_9E9E9E !important;
}
.star_icon{
    em{
        display:inline-block;
        background:url(../images/product/star_off@3x.png) scroll no-repeat center center;
        width:px2rem(26);
        height:px2rem(26);
        background-size:contain;
        margin-right:px2rem(10);
        &:last-child{
            margin-right:px2rem(24);
        }
        &.on{
            background-image:url(../images/product/start_on@3x.png);
            background-size:contain;
        }
    }
}
.cal{
    .table-number{
         width:100%;
         .flex{
            border: 1px solid #e7edf3;
            overflow: hidden;
         }
         input{
            display: inline-block;
            height:px2rem(72);
            line-height:px2rem(70);
            width: px2rem(72);
            text-align: center;
            border: 0;
            background: url(../images/product/plus.png) no-repeat scroll center center;
            background-size:contain;
            color: transparent;
         }
         input[value="+"]{
            &.disabled,&:disabled{
                background: url(../images/product/plus_disabled.png) no-repeat scroll center center;
                background-size:contain;
            }
         }
         input[value="-"]{
            background: url(../images/product/reduce.png) no-repeat scroll center center;
            background-size:contain;
            &.disabled,&:disabled{
                background: url(../images/product/reduce_disabled.png) no-repeat scroll center center;
                background-size:contain;
            }
         }
         input[type="tel"]{
            @include px2px(font-size,28);
            width: px2rem(94);
            line-height:1;
            color:#2c3e50 !important;
            background: #ffffff;
            border: 1px solid #e7edf3;
            border-width: 0 1px;
            text-align: center;
            border-radius: 0;
            line-height:px2rem(70);
            padding: 0 2px;
            &:disabled{
              color:#2c3e50 !important;
              -webkit-text-fill-color:#2c3e50;
              opacity:1;
            }
         }
    }
}
.thumb_img{
    padding-top:px2rem(20);
    .box{
        float: left;
        margin-right:px2rem(20);
        margin-bottom:px2rem(20);
        -webkit-box-align: center;/*垂直居中*/
        -webkit-box-pack:center;/*水平居中*/
        width:px2rem(152);
        height:px2rem(152);
        text-align:center;
        border:solid 1px #ddd;
        border-radius:1px;
        overflow: hidden;
        .img_wrap{
            width:100%;
        }
    }
}
.btn_wrap{
    .btn{
        @include px2px(font-size,34);
        @include px2px(line-height,88);
        width:100%;
        border-radius:5px;
        color:#fff;
        background:$yellow;
        border:none;
        &:disabled{
            background:$color_9E9E9E;
        }
    }
    .btn.disabled{
        background:$color_9E9E9E;
    }
    padding-top:px2rem(172);
}
.arrowRight{
    position:relative;
    padding-right:px2rem(45);
    &:after{
        content:'';
        display: inline-block;
        position:absolute;
        right:0;
        top:50%;
        margin-top: px2rem(-12);
        width:px2rem(15);
        height:px2rem(25);
        background: url(../images/order/ico_rig_arr.png) scroll no-repeat center center;
        background-size:contain;
    }
}
.arrowUp{
    position:relative;
    &:after{
        content:'';
        display: inline-block;
        position:absolute;
        width:px2rem(25);
        height:px2rem(15);
        @include posAbo;
        top:50%;
        right:px2rem(24);
        margin-top:px2rem(-7.5);
        background:url("../images/order/ico_up_arr.png") scroll no-repeat center center;
        background-size:contain;
    }
}
.arrowDown{
    position:relative;
    &:after{
        content:'';
        display: inline-block;
        position:absolute;
        width:px2rem(25);
        height:px2rem(15);
        @include posAbo;
        top:50%;
        right:px2rem(24);
        margin-top:px2rem(-7.5);
        background:url("../images/order/ico_down_arr.png") scroll no-repeat center center;
        background-size:contain;
    }
}
.pika-table{
  & th,& td{
    width:auto;
    height:auto;
    border:none;
  }
  & th{
    color:#2c3e50;
    @include px2px(font-size,24);
    line-height:px2rem(84);
  }
  & td{
    @include px2px(padding-bottom,4);
    @include px2px(padding-right,4);
  }
}
.pika-single{
  width:auto;
  background:#f3f5f8;
  border:none;
  z-index: 1;
  padding:0 0 px2rem(6) 0;
  .table_wrap{
    padding-left:px2rem(10);
  }
}
.pika-title{
  position:relative;
  font-weight:normal;
  height:px2rem(84);
  background:#fff;
  text-align:center;
  .pika-label{
    color:$color_424242;
    @include px2px(font-size,32);
    display:inline-block;
    float:none;
    margin:0;
    margin-right:px2rem(20);
    line-height:px2rem(84);
    padding:0;
    position:relative;
  }
  .pika-label-year,.pika-label-month{
    width:auto;
    margin:0;
    display:inline-block;
  }
}
.pika-button{
  position:relative;
  width:px2rem(98);
  height:px2rem(98);
  padding:px2rem(14);
  text-align:left;
  color:#2c3e50;
  @include px2px(font-size,24);
  background:#fff;
  margin:0;
  line-height:1;
  .price{
    @include px2px(font-size,20);
    position:absolute;
    right:px2rem(14);
    bottom:px2rem(12);
    color:$color_FC5D7B;
    @include clamp(1);
    line-height:1.2;
  }
}
.is-selected .pika-button{
  background:$color_FC5D7B !important;
  font-weight: bold;
  color:#fff !important;
  box-shadow:none;
  border-radius:0;
  .price{
    color:#fff;
  }
}
.is-selected .pika-button .price{
    color:#fff !important;
}
/* .is-today .pika-button{
  background:$yellow;
  color:#fff;
  .price{
    color:#fff;
  }
} */
.is-today .pika-button{
  color:#2c3e50;
  font-weight:normal;
}
.is-disabled.is-today{
  .pika-button{
    background:#fff;
  }
}
.is-disabled .pika-button{
  opacity: 1;
  color: #adadad !important;
  background:#fff !important;
}
a.pika-button:hover{
  box-shadow:none;
  border-radius:0;
}
.pika-prev, .pika-next{
  text-indent:0;
  opacity:1;
  width:px2rem(110);
  height:px2rem(66);
  line-height:px2rem(64);
  text-align:center;
  border:solid 1px #e1e9f0;
  background:none;
  @include px2px(font-size,32);
}
.pika-prev{
  position:absolute;
  left:px2rem(20);
  top:px2rem(10);
}
.pika-next{
  position:absolute;
  right:px2rem(20);
  top:px2rem(10);
}
.label-radio {
  input{
    display: none;
    &:checked + span.s0:before {
         background:url("../images/cart/check.png") no-repeat;
        @include backgroundSet;
        border:none;
        border-radius:0;
    }
  }
  span.s0:before {
    /* content: "";
    background: url(../images/checkbox.png) no-repeat center center;
    display: inline-block;
    width:px2rem(40);
    height:px2rem(40);
    background-size:contain; */
    content:'';
    width:px2rem(40);
    height:px2rem(40);
    display:inline-block;
    @include borBox;
    border:1px solid $lightGray;
    border-radius:px2rem(20);
  }
}
.empty_data{
  &::after {
    content: attr(data-empty);
    margin-top:px2rem(278);
    padding-top:px2rem(235);
    display: block;
    @include px2px(font-size,30);
    color:#8fa0b1;
    text-align: center;
    background: url(../images/empty_bg.png) no-repeat top center;
    background-size:px2rem(143) auto;
    line-height:1;
  }
}
.page_tips{
  text-align: center;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:-1;
  .img{
    display:block;
    &:after{
      content: attr(data-empty);
      margin-top:0;
      padding-top:px2rem(367);
      display: block;
      @include px2px(font-size,30);
      color:$color_424242;
      background: url(../images/cart/404.png) no-repeat top center;
      background-size:px2rem(254) auto;
      line-height:1;
    }
    &.empty{
      &:after{
        background: url(../images/cart/empty.png) no-repeat top center;
        background-size:px2rem(254) auto;
      }
    }
    &.cempty{
      &:after{
        background: url(../images/cart/cempty.png) no-repeat top center;
        background-size:px2rem(254) auto;
      }
    }
    &.nologin{
      &:after{
        background: url(../images/cart/nologin.png) no-repeat top center;
        background-size:px2rem(254) auto;
      }
    }
    &.error{
      &:after{
        background: url(../images/cart/loaderror.png) no-repeat top center;
        background-size:px2rem(254) auto;
      }
    }
    &.nonetwork{
      &:after{
        background: url(../images/cart/nonetwork.png) no-repeat top center;
        background-size:px2rem(254) auto;
      }
    }
  }
  a{
    display:inline-block;
    margin: px2rem(26) auto 0 auto;
    width:px2rem(208);
    height:px2rem(54);
    border:solid 1px $color_55C1DD;
    @include px2px(font-size,28);
    color:$color_55C1DD;
    line-height:px2rem(54);
    vertical-align:top;
    text-decoration:none;
  }
  .table_cell{
    vertical-align:middle;
  }
}
.page_tipsSize{
  background-size:px2rem(254) auto;
}
.mt{
  margin-top:px2rem(122);
}
.inputfile{
  @include floatLeft;
  width:px2rem(153);
  height:px2rem(153);
  background:url("../images/order/inputfile.png") no-repeat;
  @include backgroundSet;
  @include hiddenSet;
  input[type="file"]{
    border:0;
    @include txtRight;
    width:100%;
    height:100%;
    opacity:0;
  }
}
.yellow_btn{
  display:block;
  height:px2rem(78);
  width:px2rem(552);
  margin:0 auto;
  line-height:px2rem(78);
  border-radius:3px;
  background:$color_55C1DD;
  color:$white;
  @include txtCenter;
  @include px2px(font-size,32);
}
.attach_box{
  img{
    @include floatLeft;
    width:px2rem(153);
    height:px2rem(153);
    margin-right:px2rem(18);
  }
}
/*表单验证*/
.Validform_checktip{
  color:$font_color;
  @include px2px(font-size,30);
  padding:0 px2rem(24);
}
.Validform_right{
  color:#71b83d;
}
.Validform_wrong{
  color:$yellow;
  padding-bottom:px2rem(20);
  white-space:nowrap;
}
/*表单验证*/
.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius:px2rem(31);
    cursor: pointer;
    display: inline-block;
    height: px2rem(62);
    position: relative;
    vertical-align: middle;
    width: px2rem(100);
}

.switchery>small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    height:px2rem(57);
    position: absolute;
    top: 0;
    width: px2rem(57);
}
/*选择弹出层*/
.select_popup{
  background:rgba(0,0,0,.6);
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:999;
  display:none;
  .popup_main{
    background:#f3f5f8;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    max-height: 100%;
  }
  .edit{
    position:relative;
    display:block;
    width:px2rem(72);
    height:px2rem(80);
    padding-right:px2rem(42);
    &:before{
      content:'';
      position:absolute;
      top:50%;
      margin-top:px2rem(-16);
      width:px2rem(32);
      height:px2rem(32);
      display:block;
      background: url(../images/order/edit.png) scroll no-repeat center 0px;
      background-size:contain;
    }
  }
  .add_btn{
    @include px2px(font-size,30);
    color:$yellow;
    text-align:center;
    line-height:px2rem(88);
    margin-bottom:px2rem(30);
  }
  ul{
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
  }
  .list_item{
    li{
      padding-left:px2rem(30);
    }
    .inner{
      border-bottom:solid 1px #e1e9f0;
      padding-top:px2rem(25);
      padding-bottom:px2rem(25);
      padding-right:px2rem(24);
    }
  }
  .phone{
    margin-right:px2rem(48);
  }
  .name_warp{
     @include px2px(font-size,30);
     color:$color_424242;
     line-height:1.5;
     .zh_name{
      margin-right:px2rem(50);
      display:inline-block;
      max-width:px2rem(400);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
     }
     .en_name{
        display:inline-block;
        max-width:px2rem(150);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
     }
  }
  .info_warp{
    @include px2px(font-size,24);
     color:$color_9E9E9E;
     line-height:1.5;
  }
  .pop_title{
    @include px2px(font-size,30);
    color:$yellow;
    span{
      display:inline-block;
      line-height:px2rem(98);
      padding:0 px2rem(24);
      text-decoration:none;
    }
    .cancel{
      float:left;
      color:$color_9E9E9E;
    }
    .confirm{
      float:right;
    }
  }
}
.upload_w{
    padding:px2rem(24) px2rem(24) 0 px2rem(24);
    .uploadimage {
      border: solid 1px rgb(255,233,240);
      @include px2px(width,152);
      @include px2px(height,152);
      display: inline-block;
      float: left;
      vertical-align: top;
      position: relative;
      text-align: center;
      background: url(../images/order/inputfile.png) scroll no-repeat center 0px;
      background-size:contain;
      @include px2px(margin-right,20);
      margin-bottom:px2rem(24);
      position:relative;
      i{
        visibility:hidden;
      }
      &.preview_image{
        background:none;
        .del{
          position:absolute;
          right:px2rem(-20);
          top:px2rem(-20);
          width:px2rem(60);
          height:px2rem(60);
          z-index:999;
          em{
            display: inline-block;
            position:absolute;
            left:50%;
            top:50%;
            margin-top:px2rem(-22);
            margin-left:px2rem(-22);
            width: px2rem(44);
            height: px2rem(44);
            background: url(../images/btn_del.png) scroll no-repeat center center;
            background-size: contain;
          }
        }
        & .box{
          position:relative;
          overflow:hidden;
        }
      }
      input{
         position: absolute;
          @include px2px(font-size,152);
          right: 0;
          top: 0;
          opacity: 0;
          cursor: pointer
      }
      .box{
        display:-webkit-box;
        text-align: center;
        width:100%;
        height:100%;
        -webkit-box-align:center;
      }
  }
}
.check_box{
  width:px2rem(64);
  height:px2rem(62);
  @include posAbo;
  top:50%;
  left:0;
  margin-top:px2rem(-31);
  .check_btn{
    width:100%;
    height:100%;
    @include borBox;
    @include hiddenSet;
    &:before{
      content:'';
      width:px2rem(40);
      height:px2rem(40);
      display:block;
      @include borBox;
      margin-top:px2rem(10);
      border:1px solid $lightGray;
      border-radius:px2rem(20);
    }
  }
  .active{
    &:before{
      background:url("../images/cart/check.png") no-repeat;
      @include backgroundSet;
      border:none;
      border-radius:0;
    }
  }
}

.action_box{
  @include posFix;
  left:0;
  bottom:0;
  z-index:11;
  width:100%;
  @include borBox;
  padding:px2rem(10) px2rem(24);
  @include hiddenSet;
  border-top:1px solid $c_e1e9f0;
  display:-webkit-box;
  .check_box{
    min-width:px2rem(145);
    margin-top:px2rem(10);
    height:px2rem(54);
    @include posRel;
    .check_btn{
      &:after{
        @include posAbo;
        left:px2rem(64);
        top:px2rem(12);
        content:'全选';
        @include px2px(font-size,32);
      }
    }
    .active{
      background-position:0 0;
    }
  }
  .rig_box{
    //@include floatRight;
    -webkit-box-flex:1;
    width:px2rem(460);
    line-height:px2rem(78);
    text-align:right;
    .btn_handle{
      //display:inline-block;
      margin-right:0;
      @include floatRight;
      width:px2rem(152);
      height:px2rem(78);
      background:$color_FC5D7B;
      border-radius:4px;
      @include px2px(font-size,32);
      @include txtCenter;
      color:$white;
    }
  }
}
li{
  &[stock-status="2"],&[product-status="2"],&[is-timeout="2"]{
    .lazy_warp{
      @include posRel;
      &:after{
        @include posAbo;
        left:0;
        bottom:0;
        z-index:10;
        width:100%;
        line-height:px2rem(46);
        @include borBox;
        content:'已失效';
        @include txtCenter;
        @include px2px(font-size,28);
        color:$white;
        background:#676666;
        opacity:0.8;
      }
    }
  }
}
input[type='button']:disabled{
  background:#ccc;
}
.app_top{
  padding-top:0 !important;
}
/*第三方登录*/
.third_login{
  width:100%;
  height:100%;
  body{
    width:100%;
    height:100%;
  }

  table{
    width:100%;
    height:100%;
  }
  td{
    text-align:center;
    vertical-align:middle;
    font-size:px2rem(36);
    color:$font_color;
  }
}
/*close*/
.clear_text{
  position:absolute;
  right:px2rem(20);
  top:50%;
  width:px2rem(50);
  height:px2rem(50);
  margin-top: px2rem(-25);
  display:none;
  &:after{
      content:'';
      display: inline-block;
      position:absolute;
      right:0;
      top:50%;
      margin-top: px2rem(-14);
      width:px2rem(28);
      height:px2rem(28);
      background:transparent url(../images/login/close.png) scroll no-repeat center center;
      background-size:contain;
  }
}