/*@import "mixin.scss";*/
.pointer{
   cursor:pointer;
 }
.block{
  display: block;
}
.none{
  display: none;
}
.inline_block{
  display: inline-block;
}
.cover{
  background-size:cover !important;
}
.contain{
  background-size:contain !important;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix{
  zoom: 1;
}
.float_left{
  float:left;
}
.float_right{
  float:right;
}
.padding_l_r_24{
  padding:0 px2rem(24);
}
.padding_24{
  padding:px2rem(24);
}
.flex{
  display: flex;
  &.flex_v_center{
    align-items:center;
  }
  .flex_item{
    flex: 1;
  }
}
.xoverflow_scroll{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.bg_lazyload{
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAUEBAAAACwAAAAAAQABAAACAkQBADs=");
}
.mint-swipe-indicator{
    @include px2px(width,10);
    @include px2px(height,10);
    margin:0 px2rem(10) 0 0 !important;
    background:url(../../assets/images/icon/dot.png) scroll no-repeat center center;
    @extend .contain;
    &.is-active{
      background:url(../../assets/images/icon/dot_on.png) scroll no-repeat center center;
      @extend .contain;
    }
}
