/*
iphone3gs: 320px / 10 = 32px
iphone4/5: 320px * 2 / 10 = 64px
iphone6: 375px * 2 / 10 = 75px
iphone6+: 414px * 3 / 10 = 124.2px
 */
$rem:75;/*基准数也就是html,font-size有关:设计稿大小为640,转变就是拿设计稿的实际距离除以基准数*/
/*除了字体或者特殊要求需要用到的*/
@function px2rem($px){
    @return ($px/$rem)*1rem;
}
/*针对字体*/
@mixin px2px($name, $px){
    #{$name}: round($px / 2) * 1px;
    [data-dpr="2"] & {
        #{$name}: $px * 1px;
    }
    [data-dpr="2.5"] & {
        #{$name}: round($px * 2.5 / 2) * 1px;
    }
    [data-dpr="2.75"] & {
        #{$name}: round($px * 2.75 / 2) * 1px;
    }
    [data-dpr="3"] & {
        #{$name}: round($px / 2 * 3) * 1px
    }
    [data-dpr="4"] & {
        #{$name}: $px * 2px;
    }
}
/*图片媒体查询*/
@mixin retina($url){
    background-image:url($url+'.png');
    [data-dpr="2"] & {
        background-image:url($url+'@2x.png');
    }
    [data-dpr="3"] & {
        background-image:url($url+'@3x.png');
    }
}
/*多行文字省略号*/
@mixin clamp($num){
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}

/*多行文字省略号*/
@mixin padding_top($num:102){
    padding-top:px2rem($num);
}

@mixin padding_bottom($num:120){
    padding-bottom:px2rem($num);
}

@mixin hiddenSet{
  overflow:hidden;
}
@mixin posRel{
  position:relative;
}
@mixin posAbo{
  position:absolute;
}
@mixin posFix{
  position:fixed;
}
@mixin borBox {
  box-sizing:border-box;
}
@mixin backgroundSet {
  background-size:contain;
  background-position:50% 50%;
}
@mixin floatLeft {
    float:left;
}
@mixin floatRight {
    float:right;
}
@mixin clearfix{
  clear:both;
}
@mixin txtLeft {
    text-align:left;
}
@mixin txtCenter {
    text-align:center;
}
@mixin txtRight {
    text-align:right;
}
.pointer{
  cursor:pointer;
}
