header{
    position:relative;
    z-index:9;
    &.center_header{
        /* position:fixed; */
        left: 0;
        top:0;
        width:100%;
        a{
            padding:0 px2rem(24);
            width:px2rem(104);
            height:px2rem(102);
            position:absolute;
            left:0;
            top:0;
            span{
                position:absolute;
                left:50%;
                top:50%;
                margin-top:px2rem(-17);
                margin-left:px2rem(-17);
                display: inline-block;
                width:px2rem(34);
                height:px2rem(34);
                background:url(../images/icon/setting.png) scroll no-repeat center center;
                background-size:contain;
            }
            &.message{
                left:auto;
                right:0;
                span{
                    background:url(../images/icon/message.png) scroll no-repeat center center;
                    background-size:contain;
                    &[data-count]:after{
                        content: attr(data-count);
                        position: absolute;
                        right:px2rem(-6);
                        top: px2rem(-6);
                        width: px2rem(14);
                        height: px2rem(14);
                        border-radius:50%;
                        background:$color_FC5D7B;
                        text-indent:-9999em;
                        font-size:0;
                    }
                    &[data-count='0']:after{
                        display: none;
                    }
                }
            }
        }
        h1{
            @include px2px(font-size,34);
            line-height:px2rem(56);
        }
    }
    position:relative;
    height: px2rem(102);
    padding:px2rem(23) 0 px2rem(23) 0;
    @include px2px(font-size,28);
    .left{
        @include px2px(font-size,30);
        color:#ff7200;
        padding:px2rem(14) px2rem(30) px2rem(14) px2rem(20);
    }
    .right{
        padding:px2rem(7) px2rem(20) px2rem(7) px2rem(30);
        span{
            display: inline-block;
            width:px2rem(36);
            height:px2rem(41);
            background:url(../images/lc_public_wode@3x.png) scroll no-repeat center center;
            background-size:contain;
        }
    }
    .r_icon{
        padding:px2rem(7) px2rem(24) px2rem(7) px2rem(16);
        position:relative;
        span{
            display: inline-block;
            width:px2rem(44);
            height:px2rem(44);
            background:url(../images/icon/shopping_cart.png) scroll no-repeat center center;
            background-size:contain;
        }
        &.shopping_cart{
            padding-left:px2rem(30);
            span{
                &[data-count]:after{
                    content:attr(data-count);
                    text-align: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    /*width:px2rem(24);
                    height: px2rem(24);
                    line-height: px2rem(24);*/
                    @include px2px(width,24);
                    @include px2px(height,24);
                    @include px2px(line-height,24);

                    border-radius: 50%;
                    color: #ffffff;
                    background: $yellow;
                    @include px2px(font-size,18);
                    overflow: hidden;
                }
                &[data-count='0']:after {
                    display: none;
                }
            }
        }
        &.client{
            span{
                background:url(../images/icon/client.png) scroll no-repeat center center;
                background-size:contain;
            }
        }
    }
    .search_wrap{
        line-height: px2rem(28);
        border-radius:px2rem(30);
        color:#8fa0b1;
        border:solid 1px #e1e9f0;
        height:px2rem(56);
        background:#f3f5f8 url(../images/search3@3x.png) scroll no-repeat px2rem(25) px2rem(14);
        background-size:px2rem(28);
        padding:px2rem(14) 0 px2rem(14) px2rem(68);
    }
}
[data-page="product"]{
    a.home{
        width:px2rem(64);
        height:px2rem(64);
        @include posAbo;
        top:50%;
        left:px2rem(24);
        margin-top:px2rem(-32);
        background:url(../images/product/home.png) no-repeat;
        @include backgroundSet;
    }
    &.normal{
        background:rgba(255,255,255,1);
        border-bottom:solid 1px #e1e9f0;
        a.home{
            width:px2rem(42);
            height:px2rem(40);
            margin-top:px2rem(-20);
            background:url(../images/product/home_on.png) no-repeat;
            @include backgroundSet;
        }
        h1{
            visibility:visible;
        }
        a.back{
            em{
                text-indent:-9999px;
                width:100%;
                height:100%;
                background:url(../images/product/lc_public_back_orange@3x.png) scroll no-repeat center center;
                background-size:contain;
                margin-top:px2rem(-19);
                width:px2rem(38);
                height:px2rem(38);
                position:absolute;
                left:px2rem(24);
                top:50%;
                margin-top:px2rem(-19);
            }
        }
        .right{
            z-index: 5;
            .icon{
                background-image:url(../images/product/collect_org.png);
                &.share{
                    background-image:url(../images/product/share_org.png);
                }
            }
            .font{
                width:auto;
                min-width:px2rem(100);
                text-align:right;
                line-height:px2rem(41);
                background-image:none;
                @include px2px(font-size,30);
                position:absolute;
                right:0;
                top:50%;
                margin-top:px2rem(-20);
            }

        }
        .edit{
            width:px2rem(102);
            height:px2rem(102);
            position:absolute;
            top:px2rem(-23);
            right:px2rem(-24);
            em{
                display:inline-block;
                position:absolute;
                top:50%;
                right:px2rem(24);
                margin-top:px2rem(-21);
                background:url(../images/edit.png) no-repeat;
                background-size:contain;
                width:px2rem(46);
                height:px2rem(42);
            }
        }
        .edit_font{
            width:px2rem(102);
            height:px2rem(102);
            position:absolute;
            top:px2rem(-23);
            right:px2rem(-24);
            color:$color_55C1DD;
            @include px2px(font-size,30);
            em{
                display:inline-block;
                position:absolute;
                top:0;
                right:px2rem(24);
                line-height:px2rem(102);
            }
        }
    }
    &.tb_order{
        h1{
            margin-bottom:px2rem(5);
            line-height:1;
        }
        h2{

        }
    }
    background:rgba(255,255,255,0);
    position:fixed;
    left:0;
    top:0;
    width:100%;
    z-index:2;
    h1{
        text-align:center;
        color:$color_424242;
        @include px2px(font-size,34);
        line-height:px2rem(56);
        visibility:hidden;
    }
    a.back{
        position:absolute;
        left:0;
        top:0;
        width:px2rem(102);
        height:px2rem(102);
        em{
            text-indent:-999em;
            position:absolute;
            left:px2rem(20);
            top:50%;
            margin-top:px2rem(-32);
            width:px2rem(64);
            height:px2rem(64);
            display:block;
            background:url(../images/product/back2@3x.png) scroll no-repeat center center;
            background-size:contain;
        }
    }
    .right{
        padding:0;
        width:auto;
        position:absolute;
        right:px2rem(20);
        top:50%;
        height:px2rem(64);
        margin-top:px2rem(-32);
        .icon{
            width:px2rem(64);
            height:px2rem(64);
            display:block;
            background:url(../images/product/collect.png) scroll no-repeat center center;
            margin-left:px2rem(24);
            display:inline-block;
            background-size:contain;
            &.on{
                background:url(../images/product/collect_on.png) scroll no-repeat center center;
                background-size:contain;
            }
            &.share{
                background-image:url(../images/product/share.png);
            }
            &.client{
                background-image:url(../images/kefu@3x.png);
                width:px2rem(46);
                height:px2rem(46);
                position:absolute;
                right:0;
                top:50%;
                margin-top:px2rem(-23);
            }
        }
    }
}

.top_float_bar{
    width:px2rem(750);
    @include posFix;
    top:0;
    z-index:99;
    padding:0;
}
.top_bar{
    height:px2rem(102);
    @include posRel;
    z-index:9;
    background:$white;
    border-bottom:1px solid #e8e8e8;
    h2{
        @include txtCenter;
        line-height:px2rem(102);
        @include px2px(font-size,34);
    }
    .ico_search{
        display:block;
        @include posAbo;
        top:0;
        right:px2rem(92);
        width:px2rem(83);
        height:100%;
        background:url("../images/ico_search43x44.png") px2rem(24) px2rem(34) no-repeat;
        background-size:px2rem(34);
    }
    @at-root{
        .ico_sv{
            background-image:url(../images/kefu@3x.png);
            width:px2rem(38);
            height:px2rem(34);
            position:absolute;
            right:px2rem(24);
            top:50%;
            margin-top:px2rem(-17);
            display: inline-block;
            background-size: contain;
        }
    }
    .rig_txt{
        @include posAbo;
        top:0;
        right:px2rem(24);
        line-height:px2rem(102);
        @include px2px(font-size,28);
        @include txtRight;
        color:$yellow;
    }
}

.ico_prev{
    display:block;
    @include posAbo;
    top:0;
    left:0;
    width:px2rem(100);
    height:100%;
    background:url("../images/product/lc_public_back_orange@3x.png") px2rem(24) px2rem(32) no-repeat;
    background-size:px2rem(38) px2rem(38);
}
.ico_home{
    display:block;
    @include posAbo;
    top:50%;
    left:px2rem(24);
    width:px2rem(100);
    height:100%;
    background:url("../images/cart/home_on.png") no-repeat;
    @include backgroundSet;
    width:px2rem(42);
    height:px2rem(40);
    margin-top:px2rem(-20);
}
.mt{
    margin-top:px2rem(102);
}