$bg_f3f5f8:#f3f5f8;
$font_color:#2c3e50;
$blue:#007aff;
$c_gray:#8fa0b1;
$light_blue:#e5eff8;
$white:#fff;
$gray:#f3f5f8;
$orange:#ff7200;
$darkBlue:#2c3e50;
$lightGray:#8fa0b1;
$c_e1e9f0:#e1e9f0;
$c_fe7276:#fe7276;
$c_ffead9:#ffead9;
$c_a0adb5:#a0adb5;
$c_F3F5F8 :#F3F5F8;
$gray_color:#e3e5e9;
$color_55C1DD:#55C1DD;
$color_424242:#424242;
$color_9E9E9E:#9E9E9E;
$color_e8e8e8:#e8e8e8;
$color_FC5D7B:#FC5D7B;
$yellow:$color_55C1DD;
$color_DBDBDB:#DBDBDB;

